@tailwind base;
@tailwind components;
@tailwind utilities;


.banner-slider .slick-dots {
  bottom: 20px;
}

.banner-slider .slick-dots li button:before {
  color: white;
}

.banner-slider .slick-dots li.slick-active button:before {
  color: white;
}

.banner-slider .slick-list {
  overflow: hidden;
}

.banner-slider .slick-slide div {
  outline: none;
}